@{
    ViewBag.Title = "Home Page";
}

<div class="row">
    <div class="col-sm-5" style="padding-top: 25px;"><img width="450" src="~/images/ContosoU.gif" /></div>
    <div class="col-sm-7">
        <h1>Manage your university.</h1>
        <h2>Concepts demonstrated on this site:</h2>
        <ul>
            <li>ASP.NET MVC 5</li>
            <li>Entitiy Framework 6</li>
            <li>Code First workflow</li>
            <li>Seed data initializer</li>
            <li>Sorting, filtering, and paging</li>
            <li>Connection resiliency</li>
            <li>Command interception and logging</li>
            <li>Data migrations</li>
            <li>Azure deployment</li>
            <li>Formatting and validation attributes</li>
            <li>Lazy, eager, and explicit data loading</li>
            <li>Asynchronous controller actions</li>
            <li>Stored procedures</li>
            <li>Store Wins database concurrency conflict management</li>
            <li>Refactored data models to use table-per-hierarchy inheritance</li>
        </ul>
    </div>
</div>